<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div class="row signup-block">
      <div class="col-lg-12 signup-block-hdr">
        <center><strong>RESEND CONFIRMATION INSTRUCTIONS</strong></center>
      </div>
      <div class="clear bdr"></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <%= devise_error_messages! %>
      </div>
      <div class="col-lg-2"></div>
      <div class="clearboth"></div>
      <div class="spacer"></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <strong>Email</strong>
        <div class="clear"></div>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="col-lg-2"></div>
      <div class="clearboth"></div>
      <div class="spacer"></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-primary form-control" %>
        <div class="clear"></div>
        <%= render "devise/shared/links" %>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <% end %>
  </div>
  <div class="col-lg-4"></div>
</div>
