<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @task.task %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Working time:</strong>
  <%= @task.working_time %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
