<!DOCTYPE html>
<html>
  <head>
    <title>Timerapp</title>
    <%= stylesheet_link_tag    'application'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/navbar" %>
    <div class="container theme-showcase" role="main">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
